.team-grid {
  display: grid;
  gap: var(--gap);
}

.team-grid img {
  width: calc(100% + 2.5rem);
  max-width: none;
  margin: -1.25rem -1.25rem 1rem;
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
}

@media (min-width: 768px) {
  .team-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .team-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
