.people-grid {
  display: grid;
  gap: var(--gap);
}

.people-grid article {
  display: grid;
  gap: 0.35rem;
  align-content: start;
}

.people-grid .item-name {
  margin-top: 0.75rem;
}

@media (min-width: 768px) {
  .people-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .people-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
