.row-list {
  display: grid;
  gap: 1rem;
}

.row-item {
  display: grid;
  gap: 0.85rem;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border);
}

.row-item img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  display: block;
}

.row-list a {
  color: var(--text);
  text-decoration: none;
}

.item-title {
  font-size: var(--fs-3);
}

@media (min-width: 768px) {
  .row-item {
    grid-template-columns: 16rem 1fr;
  }
}
